html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1601370690183-1c7796ecec61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}



/**
 * Render the `main` element consistently in IE.
 */

main, header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: beige;
}

.gameBoard{
 display: flex;
  justify-content: center;
  align-items: center;
}

h1{
 font-size: 3em;
}

img {
  max-width: 100%;
  height: auto;
}

.getCard{
 background-color: transparent;
 border: 1px solid white;
 color: white;
 padding: 10px 30px;
 cursor: pointer;
 margin-top: 3rem;
}

